/* Gent J */

body {
  /* box-shadow: 0; */
  /* background: #22313F; */
  /* background-image: linear-gradient(to right top, #051937, #0b1f3a, #12253c, #1a2b3d, #22313f); */
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  color: #4b5566;
  padding: 0;
  margin: 0;
  }

h1 {
  border-radius: 3px;
  /* padding: 20px; */
  color: #4b5566;
  /* background:  */
  border-radius: 20px;
  margin: 0;

}

h3 {
  color: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  font-size: 14pt;
}

p {
  font-weight: lighter;
  color: #414244;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btcwidget {
font-size: 18px;
position: absolute;
right: 10px;
background: rgba(52, 73, 94, 0.4);
border-radius: 10px;
/* rgba(54, 62, 80, 0.7); */
padding: 20px;
color: #ECF0F1;
}

.cssMode {
  font-size: 18px;
  color: #4b5566;
  position: absolute;
  top: 345px;
  right: 20px;
}

#particles-js {
  width: 100%;
  height: 340px;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* display: flex; */
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);

}

.container {
/* position: absolute; */
/* top: 10%; */
height: auto;
background: #e3e3e3;
align-items: center;
justify-content: center;
display: flex;
padding-top: 20px;
}

.content {
  padding: 0px;
  margin: 0;
  /* background: rgba(44, 62, 80, 0.7)
  /* box-shadow:  0 1px 4px rgba(0,0,0,0.16),
               0 1px 4px rgba(0,0,0,0.23); */
}


.box  {
background:#fff;

  /* #ECF0F1; */
   /* rgba(54, 62, 80, 0.9); */
  min-width:282px;
  border-radius: 6px;
  padding: 10px;
  font-size: 10pt;
  display:block;
  align-items: center;
  margin: 30px;
  box-shadow:  0 2px 5px rgba(0,0,0,0.12),
               0 2px 5px rgba(0,0,0,0.1);
}


.start-msg {
  width: 175px;
  background: rgba(242, 241, 239,0.9);
  color: #013243;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
  border: 0.5px solid #2c3e50;
}


.start-msg > p {
  margin: 4px;
  padding: 0px;
  font-size: 9pt;
  align-items: justify;
}

span {
  margin: 22px;
}

.calc {
  text-align: justify;
  padding: 0.3px;
  width: auto;
}


.margin {
  justify-content: space-between;
  margin: 0px 30px;
}


.none {
  display: none;
}

.inline-flex{
  display: inline-flex;
  margin-bottom: 12px;
}

.block {
  display: block;
  width: auto;
  margin: 10px;
  padding-bottom: 0px;
}

.padding {
  display: inline-flex;
}

label {
  margin-right: 25px;
}

select {
  border: none;
  margin-left: 4px;
  overflow: hidden;


}

select.input{
  color: #013243;
}

button {
  margin-left: 4px;
    background: #f4f7fc;
  border-radius: 5px;
  border: 0px;
  color: #013243;
}

button:focus{
  outline: #c0392b;
}

button:hover{
cursor: pointer;
}

input {
  caret-color: #c0392b;
  border: 0px;
}

input:focus {
  outline: none;
}

.input {
  padding: 5px 0;
  border-radius: 5px;
  background: #f4f7fc;
  height: 30px;
  padding: 4px 8px;
  color: #6C7A89;;
}



.output {
  border: 0px;
  border-radius: 5px;
  background: #f4f7fc;
  height: 30px;
  padding: 4px 8px;
  color: #013243;
  margin-right: 4px;
  font-size: 17px;
  min-width: 60px;
}

.fa-sort-down, .fa-sort-up  {
  font-size: 17px;
  padding: 2px;
}


.btn {
  margin: 20px 10px 0 0;
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  padding: 5px 2px;
  color: #ECF0F1;
  text-align: center;
  margin-bottom: 20px;
  width: 80px;
}

.btn:hover {

  background: #ffb347;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: #2c3e50;
  cursor: pointer;
}


.btnClear {
  margin: 20px 10px 0 0;
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  padding: 5px 2px;
  color: #ECF0F1;
  text-align: center;
  margin-bottom: 20px;
  width: 80px;
}


.btnClear:hover {

  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9966, #ff5e62); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9966, #ff5e62); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: #2c3e50;
  cursor: pointer;
}


.footer {
  margin: 50px 0;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}


.master {
  color: #2ECC71;
}

.fa-heart {
  color: #D2527F;
}

.fa-twitter {
  color: #3498db;
}


.fa-coffee {
  color: #EB974E;
  padding: 4px;
}

.fa-bitcoin {
  color: #F5AB35;
  padding: 4px;
  font-size: 20px;
}



@media not screen and (min-width: 1100px) {

h1 {
  font-size: 16pt;

}

.btcwidget {
    font-size: 10pt;
    padding: 10px;
    border-radius: 3px;
}

  #particles-js {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    background-attachment: fixed;
    height: 100px;
  }


  .content {
    background: none;
    box-shadow: none;

  }


/* .inline-flex {
  display: block;
} */



  .box  {
    margin-bottom: 40px;
    width: auto;
  }

  .start-msg {
    width: 130px;

  }

  .start-msg > p{
    font-size: 9pt;
  }


.mob {
  display: inline-block;
}



.footer {
  max-width: auto;
}


}
